
.index-page .am-popover-inner-wrapper{
    background: rgb(64, 64, 64);
}
.index-page .am-popover-arrow{
    background: rgb(64, 64, 64);
}
.am-popover .am-popover-item.am-popover-item-active {
    background: rgb(64, 64, 64);
}

.index-page .am-popover-item-content{
    color: #fff;
    font-size:12px;
    display: inline-block;
}

.index-page .am-popover-item-icon i{
    color: #fff;
}
