
.word-item{
    padding-bottom: 10px;
    border-bottom: 1PX solid #ddd;
    position: relative;
    overflow: hidden;
}

.word-item .word-text{
    display: flex;
    line-height: 22px;
    margin-top: 5px;
}
.word-item .word-text .word-content{
    color:#222;
    font-size: 14px;
    font-weight: 700;
}

.word-item .word-text .phonetic{
    flex:1;
    font-weight: 500;
    color:#222;
    font-size: 14px;
}

.word-item .word-time{
    font-size: 12px;
    float: right;
}

.word-item .voice{
    display: inline-block;
    text-indent: -9999px;
    font-size: 0;
    width: 24px;
    height: 24px;
    background-image: url(//shared.ydstatic.com/dict/youdaowap/icon/dict_pronounce-_icon_normal.png);
    background-size: 24px 24px;
    vertical-align: middle;
}

.word-item .explains-item{
    line-height: 22px;
    font-size: 14px;
}
.word-item .explains-item:first-child{
    margin-top:5px;
}

.word-item .wfs-item{
    color:#847965;
    line-height: 22px;
    font-size: 14px;
}
.word-item .wfs-item span:first-child{
    display: inline-block;
    width: 70px;
}
.word-item .wfs-item:first-child{
    margin-top:5px;
}



