
.word-item{
    padding-bottom: 10px;
    border-bottom: 1PX solid #ddd;
    position: relative;
    overflow: hidden;
}

.word-item .word-text{
    display: flex;
    line-height: 22px;
    margin-top: 5px;
}
.word-item .word-text .word-content{
    color:#222;
    font-size: 14px;
    font-weight: 700;
}

.word-item .word-text .phonetic{
    font-weight: 500;
    color:#222;
    font-size: 14px;
}

.word-item .word-time{
    font-size: 12px;
    float: right;
}

.word-item .explains-item{
    line-height: 22px;
    font-size: 14px;
}
.word-item .explains-item:first-child{
    margin-top:5px;
}

.word-item .wfs-item{
    color:#847965;
    line-height: 22px;
    font-size: 14px;
}
.word-item .wfs-item span:first-child{
    display: inline-block;
    width: 70px;
}
.word-item .wfs-item:first-child{
    margin-top:5px;
}


.word-page .am-popover-inner-wrapper{
    background: rgb(64, 64, 64);
}
.word-page .am-popover-arrow{
    background: rgb(64, 64, 64);
}
.am-popover .am-popover-item.am-popover-item-active {
    background: rgb(64, 64, 64);
}

.word-page .am-popover-item-content{
    color: #fff;
    font-size:12px;
    display: inline-block;
}

.word-page,.word-page .am-popover-inner{
    border-radius: 6px;
}
.word-page .am-popover-item-icon i{
    color: #fff;
}
.word-page .am-popover-inner .am-popover-inner-wrapper .am-popover-item.am-popover-item-active{
    background: #666;
}
.word-page .am-popover-inner .am-popover-inner-wrapper .am-popover-item{
    box-sizing: border-box;
}
.word-page .am-popover-inner .am-popover-inner-wrapper .am-popover-item .am-popover-item-container:before{
    content: ' ';
    position: absolute;
    bottom: 0;
    height: 1px;
    background: #666 !important;
}



