
.word-item{
    padding-bottom: 10px;
    border-bottom: 1PX solid #ddd;
    position: relative;
}

.word-item .word-text{
    display: flex;
    line-height: 36px;
}
.word-item .word-text .word-content{
    flex: 1;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
}
.word-item .word-text .word-time{
    flex: 1;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
}

.word-item .voice{
    display: inline-block;
    text-indent: -9999px;
    font-size: 0;
    width: 24px;
    height: 24px;
    background-image: url(//shared.ydstatic.com/dict/youdaowap/icon/dict_pronounce-_icon_normal.png);
    background-size: 24px 24px;
    vertical-align: middle;
}

.word-item .explains-item{
    line-height: 24px;
}
.word-item .explains-item:first-child{
    margin-top:10px;
}

.word-item .wfs-item{
    color:#847965;
    line-height: 24px;
}
.word-item .wfs-item span:first-child{
    display: inline-block;
    width: 70px;
}
.word-item .wfs-item:first-child{
    margin-top:10px;
}

.word-item .phonetic{
    font-weight: 700;
}