@import "../../style/variable";

.sentence-list{

}
.sentence-list-item{
    border-bottom: 1px solid $line-light;
    font-size: 14px;
    padding:5px 0;
}
.sentence-list-content{
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: $black;
    i{
        padding: 0 10px 0 5px;
    }
}
.sentence-list-explain{
    padding-top:5px;
    font-size: 12px;
    line-height: 20px;
    color: $grey;
    letter-spacing: 1px;
}
