@charset "utf-8";

@import "variable";


.blur{
  filter: blur(2px);
}


.black{
  color:$black;
}
.green{
  color:$green;
}
.blue{
  color:$blue;
}
.golden{
  color:$golden;
}
.yellow{
  color:$yellow;
}
.red{
  color:$red;
}
.grey{
  color:$grey;
}
.light{
  color:$light;
}
.white{
  color:$white;
}

.bg-black{
  background-color:$black;
}
.bg-green{
  background-color:$green;
}
.bg-blue{
  background-color:$blue;
}
.bg-golden{
  background-color:$golden;
}
.bg-yellow{
  background-color:$yellow;
}
.bg-red{
  background-color:$red;
}
.bg-grey{
  background-color:$grey;
}
.bg-light{
  background-color:$light;
}
.bg-white{
  background-color:$white;
}



//TODO 等待废弃
.hide{
  display: none;
}



.border-t{border-top:1px solid $line-light;}
.border-r{border-right:1px solid $line-light;}
.border-b{border-bottom:1px solid $line-light;}
.border-l{border-left:1px solid $line-light;}




/* flex item */
@for $index from 1 through 5 {
  .flex-#{$index} { flex: $index; }
}

/* opacity */
@for $index from 1 through 10 {
  .opacity-#{$index} { opacity: $index/10; }
}

/* padding margin px*/
@for $index from 0 through 30 {
  .p#{$index} { padding: $index * 1px!important;}
  .pt#{$index} { padding-top: $index * 1px!important; }
  .pr#{$index} { padding-right: $index * 1px !important;}
  .pb#{$index} { padding-bottom: $index * 1px !important;}
  .pl#{$index} { padding-left: $index * 1px !important;}

  .m#{$index} { margin: $index * 1px!important; }
  .mt#{$index} { margin-top: $index * 1px!important; }
  .mr#{$index} { margin-right: $index * 1px!important; }
  .mb#{$index} { margin-bottom: $index * 1px!important; }
  .ml#{$index} { margin-left: $index * 1px!important; }
}

/*字号*/
@for $index from 12 through 20 {
  .font-s#{$index} { font-size: $index * 1px; }
}




@each $key, $value-list in $base-map {
  @each $value in $value-list {
    $value-index:str_index($value,'-');
    $key-index:str_index($key,'-');
    $class-name:null;
    @if $key-index{
      $key1:#{str-slice($key,1,$key-index - 1)};
      $key2:#{str-slice($key,$key-index + 1,$key-index + 1)};
      $class-name:#{$key1}-#{$key2};
    }@else{
      $class-name:#{$key};
    }
    @if $value-index{
      .#{$class-name}-#{str-slice($value,1,1)}-#{str-slice($value,$value-index+1,$value-index + 1)} {
        #{$key}: $value;
      }
    }@else{
      .#{$class-name}-#{str-slice($value,1,1)} {
        #{$key}: $value;
      }
    }
  }
}
