@charset "utf-8";

@import "mixin";

.clear{
  content: '';
  display: table;
  clear: both;
}

.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
}

.img-container{
  padding-top:100%;
  position: relative;
  overflow: hidden;
  @include margin-h-center;
  &>img{
    width: 100%;
    position: absolute;
    top:0;left:0;
  }
}



@media only screen and (min-width: 640px){
  html{
    font-size: 64px;
  }
  body{
    padding: 0;
    font-family: sans-serif;
    width: 640px;
    margin:0 auto!important;
  }
}


@media only screen and (max-width: 640px){
  html{
    font-size: 10vw;
  }
  body{
    @include phone-width;
    margin:0 auto !important;
    padding: 0;
    font-family: sans-serif;
  }
}