@import "../../../style/variable";

.mine-title{
    font-size: 14px;
    color: $grey;
}

.mine-header{
    background: $darkBlue;
    opacity: .8;
    color: $white;
    font-size: 12px;
    display: flex;
    padding:8px 0;
    span{
        flex:1;
        padding: 5px 20px;
        &:first-child{
            border-right: 1px solid $white;
        }
    }
}

.mine-icon{
    display: block;
    border-radius: 50%;
    width: 40%;
    padding-top: 40%;
    background: $blue;
    position: relative;
    font-size:30px;
    i{
        color: $white;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
}
