@charset "utf-8";


.c1,.c2,.c3,.c4{
  min-height: 50px;
  padding:10px;
}

.c1{
  background-color: #df5c5c;
}
.c2{
  background-color: #6464cc;
}
.c3{
  background-color: darkslategray;
}
.c4{
  background-color: grey;
}