


.am-card-body.study-remark{
    padding-top:0;
    .am-list-item{
        padding-left:0;
    }
}

.sentence-content{

}
.sentence-content-add-title{
    line-height: 44px;
}
.sentence-content-add-text textarea{
    color:#949494;
    font-size:14px;
}


